<mat-toolbar>
    <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Padawan Software Developer - your coding assistant</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button color="primary" matTooltip="Workspace" aria-label="Workspace">
        <mat-icon>forum</mat-icon>
    </button>
    <button mat-icon-button disabled="true" matTooltip="Knowledge base" aria-label="Knowledge base">
        <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-icon-button disabled="true" matTooltip="Train AI model" aria-label="Train AI model">
        <mat-icon>school</mat-icon>
    </button>
</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>
<footer>ver. {{version}}</footer>