<section class="column">
    <div class="icon-bar">
        <button mat-icon-button matTooltip="Add file" aria-label="Add file" routerLink="/knowledge-base/articles/__NEW__">
            <mat-icon>note_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add file" aria-label="Add folder" disabled="true">
            <mat-icon>create_new_folder</mat-icon>
        </button>                
        <button mat-icon-button matTooltip="Rename" aria-label="Rename" disabled="true">
            <mat-icon>edit</mat-icon>
        </button>        
        <button mat-icon-button matTooltip="Save" aria-label="Save" [disabled]="saveDisabled" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [class.selected]="node === selectedNode">
            <button mat-icon-button [attr.aria-label]="'Open ' + node.name" (click)="open(node)">
                <mat-icon>description</mat-icon>
            </button>
            <span>{{node.name}}</span>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: dataSource.hasChildren" matTreeNodePadding [class.selected]="node === selectedNode">
            @if (node.hasChildren) {
            <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                <mat-icon>{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}</mat-icon>
            </button>
            }
            <span>{{node.name}}</span>
            @if (node.isLoading) {
            <mat-progress-bar mode="indeterminate" class="tree-progress-bar"></mat-progress-bar>
            }
        </mat-tree-node>
    </mat-tree>
</section>
<section class="column2">
    <ngx-codemirror #editor [(ngModel)]="code" (ngModelChange)="onCodeChange($event)" [options]="options" autofocus="true"></ngx-codemirror>
</section>
<section class="column2">
    <pre>{{content | json}}</pre>
</section>