.chat {
    height: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.chat-container {
    height: calc(100% - 1em - 14px);
    padding: 10px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    background-color: black;
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}

.padawan, .bash_cmd {
    align-self: flex-end;
    background-color: #007bff;
    border-radius: 20px 20px 0px 20px;
    text-align: end;
}

.bash_out {
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    background-color: #006600;
    border-radius: 20px 20px 0px 20px;
}

.bash_err {
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ad0000;
    border-radius: 20px 20px 0px 20px;
}

.bash_cmd + .bash_cmd, .bash_cmd + .bash_out, .bash_cmd + .bash_err {
    margin-top: 0px;
    border-radius: 20px 0px 20px 20px;
}

.master {
    align-self: flex-start;
    background-color: #343a40;
    border-radius: 20px 20px 20px 0px;
}

input {
    height: calc(1em + 14px);
    width: 100%;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
}