.chat {
    height: 80%;
    max-width: 600px;
    margin: auto;
}

.chat-container {
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    color: white;
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}

.padawan, .bash_cmd {
    align-self: flex-end;
    background-color: #007bff;
    border-radius: 20px 0px 20px 20px;
    text-align: end;
}

.bash_out {
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    background-color: #006600;
    border-radius: 20px 0px 20px 20px;
}

.bash_err {
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ad0000;
    border-radius: 20px 0px 20px 20px;
}

.master {
    align-self: flex-start;
    background-color: #343a40;
    border-radius: 20px 20px 20px 0px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}